header {
background-color: purple;
padding: 10px 
margin: 10px
border:10px
border-color:black;
border-style: dashed;
height:20%;
}

h1 {
  text-align: center;
  font-family:verdana; 
}

h2 {
  font-family:arial; 
}

.column-1 {
float:left;
background-color: red;
display: inline-block;
width:50%;
height:1000px;
}
.column-2 {
  background-color: yellow;
  float: right;
  display: inline-block;
width: 50%;
height:1000px;
}

footer {
 clear:both;
background-color: green;
height:20%;
  }