<!DOCTYPE html>
<html>
<head>
  <title>campus</title>
</head>
<body>
<p> Here's everyone's campus location! </p>
<ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
  </ul>
</body>
</html>
